* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
    --primary-color: #0A1128;
    --white-color: #fff;
    --light-grey: #eee;
    --gap: 3rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}

.main-bg {
    background-image: url(../img/main-bg.svg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
 background-color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    max-height: 100vh;
}

.sessao {
    min-height: 100vh;
}

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-grey);
    
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.main-menu ul {
    list-style: none;
    display: flex;
}

.main-menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
    
}
.main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: crimson;
    transition: all 300ms ease-in-out;
}
.main-menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}


.main-menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}
.main-menu h1 a {
    color: inherit;
    position: relative;
    
}

.main-menu h1 a::after {
 content: '';
 position: absolute;
 top: 3rem;
 left: 0;
 width: 0;
 height: 0.5rem;
 background-color: blue;
 transition: all  linear;
}

.main-menu h1 a:hover::after {
    width: 100%;
    
    }

.espaço-menu {
    height: 64px;
}

.intro-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-height: 100px
    gap: var(--gap);
    
}

.intro-texto-container, .img-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.intro-texto-container h2 {
    font-size: 8rem;
    margin-bottom: 6rem;
}

.intro-texto-container p {
    font-size: 2.5rem;
}

.img-container svg {
  max-width: 100%;
  height: auto;
}

.top-container {
    max-width: 64rem;
}

.top-text {
   justify-content: center;
   flex-flow: row wrap;
   gap: var(--gap);
    display: flex;
    height: auto;
}

.top-text h2 {
    font-size: 5rem;
    margin: 10rem 0 3rem 0;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.2rem;

}

.top-text p {
    text-decoration: solid;
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.grid-text-container {
 min-height: 100vh;
}

.grid-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 40rem 60rem;
 grid-template-areas: 
 "area1 area1 area1"
 "area2 area3 area4";
 gap: var(--gap);
 min-height: 100vh;
 

}


#grid-area1 {
    grid-area: area1;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    justify-content: center;
}

#grid-area1 p {
    margin-left: 0.5rem;
}

#grid-area2 {
    grid-area: area2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

#grid-area3 {
    grid-area: area3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}
#grid-area4 {
    grid-area: area4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

.grid-container article h3 {
    font-size: 4rem;
    font-style: italic;
    padding-bottom: 5rem;
    }

.gallery-title {
    margin-top: 2rem;

}
.gallery-title div {
    padding-bottom: 3rem ;
    margin-left: 1rem;

}

.gallery-title div h2 {

    font-size: 7rem;
}

.gallery-title p {
    margin-left: 1rem;
    font-size: 3rem;

}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 36rem 36rem;
    column-gap: var(--gap);
    row-gap: var(--gap);

}

.test1 {
    display: flex;
    flex-wrap: nowrap;
    
    
}

.imgdiv {
     width: 100%;
     max-width: 38rem;
     max-height: 36rem;
     overflow: hidden;    
}

.imgdiv img {
    transition: all 300ms ease-in-out;
}

.imgdiv img:hover {
    transform: translate(-2%, 2%) scale(1.2) rotate(3deg) ;
}

.bf {
    
    overflow-x: auto;
    max-width: 100%;
}

.price-tabble {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 64rem;
    margin-top: 10rem;
    
}
  
.price-tabble p {
    text-align: center;
    margin-top: 10rem;
    font-size: 2.2rem;
    margin-bottom: 10rem;
    
  }

  table {
    min-width: 50rem;
    width: 100%;
    border-collapse: collapse;
  }

  table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  
table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-grey);
  }

  tfoot td, table th {
    background: var(--light-grey); }

    .top-form {
        display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 40rem 1fr;
    min-height: 100vh;
    gap: var(--gap);
    }

    


.img-form-container img {
    max-width: 100%;
  height: auto;

    
}

.form-text-top, .img-form-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    height: 35rem;
    
}

.form-text-top p {
    padding: 1rem;
}

.form-text-top h2 {
    font-size: 6rem;
    text-align: left;
    
}

.contact-form {
    grid-column: span 2;
}

.form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}
 
.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.form-group {
    flex: 1 1 39rem;
}

.form-group label {
    display: block;
}

.form-group input, .form-group textarea {
    border: 0;
    background-color: white;
    padding: 1.5rem 2rem;
    width: 100%;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover {
    background-color: white;
    color: var(--primary-color);
}

.form-group::placeholder {
    color: gray;
}

#footer-bf {
    text-align: center;
    font-size: 3rem;
}

.coraçao {
    color: red;
}

@media (max-width: 800px) {
    .intro-container {
        grid-template-columns: 1fr;
    }
}
